@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    min-height: 100vh;
    color: #666;
    font-family: 'Lato', sans-serif;
}

.pimg1{
    background-image: url(https://jolly-kalam-23776e.netlify.app/parallaxsite/img/image1.jpg);
    min-height: 100vh;
}

.pimg2{
    background-image: url(https://jolly-kalam-23776e.netlify.app/parallaxsite/img/image2.jpg);
    min-height: 41vh;
}

.pimg3{
    background-image: url(https://jolly-kalam-23776e.netlify.app/parallaxsite/img/image3.jpg);
    min-height: 41vh;
}

.pimg1,.pimg2,.pimg3{
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* attachment fixed is the most imp for it to give a parallax effect */
    background-attachment: fixed;
    opacity: 0.70;
}

.ptext{
    position: absolute;
    color: #000;
    top: 50%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5rem;
}

.section h2{
    font-weight: 700;
}

.section p{
    font-size: 1.2em;
}

.border{
    font-size: 1.5rem;
    background: #111;
    color: #fff;
    padding: 1em 2em;
    border: none !important;
    outline: none !important;
}

.section{
    text-align: center;
    padding: 3.125em 5em;
}

.section-light{
    background-color: #f4f4f4;
    color: #666;
}

.section-dark{
    background-color: #282e34;
    color: #ddd;
}

.trans{
    background-color: transparent;
}

a{
    text-decoration: none;
    color: #ddd;
    cursor: pointer;
}

a:hover,a:focus{
    color: #ddd;
}

@media (max-width: 600px){
    .pimg1,.pimg2,.pimg3{
        background-attachment: scroll;
    }
    .section p{
        font-size: 1.05em;
    }
}